body {
    background-color: #f4f5f6;
}
.red {
    background-color: red;
}
.main {
    max-width: 1300px;
    padding: 0;
    background-color: white;
}
.weather-icon {
    height: 24px;
    width: 24px;
}
.svg {
    width: 396px;
    height: 60px;
    fill: white;
}
.weather-date {
    font-size: 14px;
}
.btn-subscribe {
    border-radius: 100px;
    background-color: Black;
    color: white;
}
.btn-primary:hover {
    text-decoration: none;
    background-color: white;
}
.true-center {
    width: 237px;
}
.nav-link {
    color: black;
}
.nav-link:hover, .trending-item:hover{
    color: red;
}
.nav-container {
    width: 95%;
    margin-top: -13px;
    background-color: white;
    z-index: 2;
    position: relative;
}
#btn-subscribe {
  color: white;
}

.form-width {
    width: 20px;
}
.upper-tri {
    border-left: 13px solid transparent;
    border-right: 13px solid red;
    border-bottom: 13px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.fa-bars {
    font-size: 28px;
    color: rgba(255, 255, 255, .55);
}
.fa-user {
    color: rgba(255, 255, 255, .55);
}
.card-font {
    font-size: 14px;
}
.underline-red:hover {
    text-decoration: underline;
    text-decoration-color: red;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.corner-background {
    background-color: rgba(255, 255, 255, .9)
}
.text-red {
    color: red;
}
.turn-red:hover {
    color: red;
}
.corner-background {
    background-color: rgba(255, 255, 255, .9)
}

.text-blue {
    color: #3581f4;
}
.small-title {
    font-size: 13px;
}
.small-bottom {
    font-size: 11px;
    background-color: #c2d4d7;
}
.circle-picture {
    width: 79px;
}
.vs-position {
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -14px;
    border-radius: 50%;
    z-index: 3;
}
.article-logo {
    width: 28px;
}
.bg-sign-up, .bg-sign-features {
    background-color: rgba(104, 104, 104, 0.15);
}
.bg-sign-features:hover {
    background-color: rgba(104, 104, 104, 0.4);
}
.font-sign {
    font-size: 16px;
}
.btn-sign {
    width: 100%;
    background-color: red;
}
.bg-issue {
    background-color: rgba(255, 255, 255, 0.9);
}
