body {
    background-color: #f4f5f6;
}
.red {
    background-color: red;
}
.main {
    max-width: 1300px;
    padding: 0;
    background-color: white;
}
.weather-icon {
    height: 24px;
    width: 24px;
}
.svg {
    width: 396px;
    height: 60px;
    fill: white;
}
.weather-date {
    font-size: 14px;
}
.btn-subscribe {
    border-radius: 100px;
    background-color: #ffe400;
}
.btn-primary:hover {
    text-decoration: none;
    background-color: #ffe400;
}
.true-center {
    width: 237px;
}
.nav-link {
    color: black;
}
.nav-link:hover, .trending-item:hover{
    color: red;
}
.nav-container {
    width: 95%;
    margin-top: -13px;
    background-color: white;
    z-index: 2;
    position: relative;
}